/* btn asside */
.btn_top {
    /* color */
    color: var(--secondary);
    background-color: var(--primary);

    /* centering config */
    position: fixed;
    bottom: 90px;
    right: 32px;
    padding: 8px 9px 5px 8px;
    
    /* border config */
    border: 1px solid;
    border-radius: 50%;
    
    /* others */
    cursor: pointer;
    opacity: 0;
}

.btn_top img {
    transform: rotate(-45deg);
}