/* btn asside */
.whatsapp {
    /* centering config */
    position: fixed;
    bottom: 30px;
    right: 30px;
    
    /* others */
    cursor: pointer;
}

.whatsapp img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}