.about {
    /* centering config */
    position: relative;
    width: 90%;
    padding: 30px;
    max-width: var(--width);
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    /* background config */
    background-color: var(--II);
    background-image: url('./../../images/about/about_bg.png');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 100% 0%;

    /* others */
    box-sizing: border-box;
    border-radius: 20px;
}

/* blocking content for card */
.about .content_left {
    flex: 1;
}

.about .content_right {
    position: absolute;
    flex: 1;
    justify-content: space-between;
    align-items: flex-end;
}

.about .content_right p {
    margin-bottom: 20px;
}

.about .content_right img {
    position: relative;
    top: -80px;
    right: -8px;
    width: 150px; 
}

.about .content_left img {
    width: 100%;
    max-width: 700px;
    border-radius: 20px;

    margin-bottom: 140px;
}