@media (max-width: 1100px) {
    body {
        background-size: 150%;
    }
    
    .about {
        margin-top: 100px;
        flex-direction: column;
        background-size: 40%;
    }

    .about .content_left {
        position: static;
        align-items: center;
    }

    .about .content_right {
        position: static;
        align-items: center;
    }

    .about video {
        position: static;
        width: 100%;
        height: 100%;
    }

    .about .content_right img {
        top: -20px;
        right: 5px;
    }
}

@media (max-width: 1250px) {

    .about img {
        width: 100%;
        max-width: none;
        border-radius: 20px;
    
        margin-bottom: 0 !important;
    }
}