body {
    background-image: url("./../../images/security/security_bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: -50px -50px;
}

.security {
    /* centering config */
    position: relative;
    width: 90%;
    padding: 30px;
    max-width: var(--width);
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    /* background config */
    background-color: var(--II);
    background-image: url('./../../images/security/info_bg.png');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 100% 0%;

    /* others */
    box-sizing: border-box;
    border-radius: 20px;
}

.security_points {
    margin-top: 100px;
    width: 90%;
    max-width: var(--width);
}