.content_cards {
    /* centering config */
    width: 90%;
    max-width: var(--width);
    margin-top: 100px;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;

    /* background config */
    background-color: var(--II);
    background-image: url('./../../../images/security/info_bg.png');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 100% 0%;

    /* others */
    border-radius: 20px;
    box-sizing: border-box;
}

.content_cards .card {
    flex: 1 1 380px;
    max-width: 500px;
    padding: 50px;

    margin: 20px;
    
    /* border */
    border-radius: 20px;

    /* others */
    background-color: var(--primary);
}

.content_cards .text_content {
    align-items: center;
}

.content_cards .text_content img {
    width: 60px;
    margin-right: 15px;
    margin-bottom: 12px;
}