@media (max-width: 700px) {
    #news .content_news {
        width: 250px !important;
    }
    
    #news .news_ {
        width: calc(250px * 5) !important;
    }
    
    #news .text_content {
        max-width: 250px !important;
        min-width: 250px !important;
    }

    /* pass stages */
    .one {
        transform: translateX(0px) !important ;
    }

    .two {
        transform: translateX(-250px)!important ;
    }

    .three {
        transform: translateX(-500px)!important;
    }

    .four {
        transform: translateX(-750px)!important;
    }

    .five {
        transform: translateX(-1000px)!important;
    }

    .six {
        transform: translateX(-1250px)!important;
    }

    .seven {
        transform: translateX(-1500px)!important;
    }
}