#news .content_news {
    overflow: hidden;
    width: 500px;
}

#news .news_ {
    width: calc(500px * 5);
    align-items: center;
    justify-content: space-between;
}

#news .text_content {
    width: 100%;
    max-width: 500px;
    min-width: 250px;
}

#news .content_right{
    height: 100%;
    max-height: 500px;
}

#news #news_img {
    width: 100%;

    max-width: 800px;
}