/* card config */
.about .card {
    /* centering config */
    position: relative;
    flex: 1;
    width: 520px;
    padding: 50px;

    /* border */
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 50px;
    
    /* others */
    box-sizing: border-box;
    background-color: var(--primary);
}

.about .card .title,
.about .card .text {
    margin-bottom: 20px;
}