@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lexend", sans-serif;
    font-style: normal;
    font-size: var(--text);
    color: var(--white);

    align-items: center;
    background-color: var(--primary);
}

button {
    font-family: "Lexend", sans-serif;
    font-style: normal;
    font-size: var(--text);
}

:root {
    --primary: #1A1A1A;
    --secondary: #6CC4EE;
    --II: #1C1C1C;
    --III: #1E1E1E;
    --IV: #262626;
    --gray: #262626;
    --white: #FFFFFF;

    /* Font size */
    --title: 2rem;
    --text: .8rem;

    /* Width page*/
    --width: 1200px;
}

.title {
    font-size: var(--title);
}

.text {
    font-size: var(--text);
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_row {
    display: flex;
    flex-direction: row;
}