@media (max-width: 1100px) {
    .mvv {
        align-items: center;
    }

    .mission,
    .vision,
    .values {
        width: 90%;
        align-items: center;
        flex-direction: column !important;
        margin-bottom: 50px;
    }

    .values {
        margin-bottom: 0;
    }

    .mission .content_left,
    .values .content_left{
        margin-right: 0;
        margin-bottom: 20px;
        align-items: center;
    }

    .vision .content_left{
        margin-left: 0;
        margin-bottom: 20px;
        align-items: center;
    }
}